#map {
	padding: 20px 0 0 0;
}

.plan-auerbach {
	height-max: 900px;
	background-image: mobile-images('grunewaldPlan.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
